################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject/bin/Debug/net8.0
/.vs/DependencyInjectionDotnet
/TestProject/obj
/DependencyInjectionDotnet/bin/Debug/net8.0
/DependencyInjectionDotnet/obj
